:host {
    height: 40px;
    background: linear-gradient(to top, rgba(51, 117, 191, 0.7) 95%, #CAD9EA);
    border-top: 1px solid #434D58;
    display: flex;

    .start {
        position: relative;
        padding: 1px 9px;
        display: flex;
        align-items: center;
        background: rgba(45, 37, 37, 0.3);

        i {
            display: block;
            width: 38px;
            height: 38px;
            background: url(/assets/images/start-icon.png) center no-repeat;
            background-position-y: -9px;
            border-radius: 50%;

            &:hover,
            &.open {
                background-position-y: -63px;
            }

            &:active {
                background-position-y: -117px;
            }
        }
    }

    .tool-list {
        display: flex;
        flex-direction: row;
        flex: 1;
        padding: 0 2px;
        background: linear-gradient(to right, rgba(45, 37, 37, 0.3), rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0) 98%, rgba(45, 37, 37, 0.3));

        .icon {
            width: 58px;
            border-bottom: none;
            border: 1px solid rgba(0, 0, 0, 0);
            height: calc(100% - 1px);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            position: relative;
            margin: -1px 1px 0;

            img {
                height: 78%;
                z-index: 5;
            }

            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 3px;
            }

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                box-sizing: border-box;
                border-radius: 3px;
                border: 1px solid rgba(0, 0, 0, 0);
            }

            //沒有其餘狀態
            &:hover {
                border: 1px solid transparent;
                border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(45, 37, 37, 0.3) 25%, rgba(45, 37, 37, 0.3) 75%, rgba(255, 255, 255, 0));
                border-image-slice: 1;
            }

            &:active {
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(45, 37, 37, 0.4) 50%, rgba(255, 255, 255, 0));
            }

            &:focus {
                outline: none;
            }

            //已開啟的狀態
            &.open {
                &::before {
                    background: linear-gradient(163deg, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0) 45%);
                }

                &::after {
                    border: 1px solid rgba(230, 239, 249, 0.5);
                }

                &:hover::before,
                &.focus {
                    background: rgba(255, 255, 255, 0.9);
                }
            }

        }
    }

    .small-icon {
        width: 253px;
        background: rgba(45, 37, 37, 0.3);
    }

    .date-time {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        width: 78px;
        color: white;
        background: rgba(45, 37, 37, 0.3);

        >p {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50%;
        }
    }

    .show-desktop {
        width: 11px;
        border-left: 1px solid #434D58;
        background: rgba(45, 37, 37, 0.3);

        i {
            display: block;
            border: 1px solid #CAD9EA;
            border-right: none;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }
    }
}