<div class="container"
     [ngClass]="{'unselect': isResizing || isDragging}"
     (mousemove)="preventDefault($event)">
  <div class="title">
    <div class="drag"
      (mousedown)="startDrag($event)"
    >
      <img [src]="logo">
      {{name}}
    </div>
    <div class="btn btn_small" [ngClass]="{'focuse': isFocuse}"></div>
    <div class="btn btn_large" [ngClass]="{'focuse': isFocuse}"></div>
    <div class="btn btn_close" [ngClass]="{'focuse': isFocuse}">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="content">
    <ng-content></ng-content>
  </div>
</div>