:host {
    display: block;
    border: 1px solid #8b8c8f;
    border-radius: 6px;
    height: 300px;
    width: 300px;
    background: #d8e4f3;
    padding: 1px 3px;

    .border-container {
        position: absolute;
        padding: 5px;
        box-sizing: border-box;

        &.左上{
            cursor: nw-resize;
        }

        &.右上{
            cursor: ne-resize;
        }

        &.水平{
            cursor: w-resize;
        }

        &.垂直{
            cursor: s-resize;
        }
    }

    .container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .title {
            height: 20px;
            display: flex;
            font-size: 12px;
            color: #7c8694;
            display: flex;
            align-items: center;

            img {
                max-width: 12px;
                max-height: 12px;
                margin: 0 2px;
            }
        }
    }
}