<!-- <div class="border-container"
     #borderContainer
     (mouseover)="changeCursor($event)"
     [ngStyle]="{'cursor':direction?.cursor}"> -->
<div class="container"
     [ngClass]="{'unselect': isResizing || isDragging}"
     (mousemove)="preventDefault($event)">
  <div class="title">
    <div class="drag"
      (mousedown)="startDrag($event)"
    >
      <img [src]="logo">
      {{name}}
    </div>
    <div class="btn_small">__</div>
    <div class="btn_large">口</div>
    <div class="btn_close">X</div>
  </div>
</div>
<!-- </div> -->
