html,
body {
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    min-height: 768px;
    display: flex;
    flex-direction: column;
    // background: url(./images/background.jpg) center center / cover no-repeat fixed; 

}

.desktop {
    // flex: 1;
}

.toolbar {
    height: 40px;
    background: linear-gradient(to top, rgba(51, 117, 191, 0.45) 95%, #CAD9EA);
    border-top: 1px solid #434D58;
    display: flex;
    width: 1917px;

    .start {
        padding: 1px 9px;
        display: flex;
        align-items: center;
        background: rgba(45, 37, 37, 0.3);

        i {
            display: block;
            width: 38px;
            height: 38px;
            background: url(./images/start-icon.png) center no-repeat;
            background-position-y: -9px;
            border-radius: 50%;
            &:hover{
                background-position-y: -63px;
            }

            &:active{
                background-position-y: -117px;
            }
        }
    }

    .tool-list {
        display: flex;
        flex-direction: row;
        flex: 1;
        padding: 0 2px;
        background: linear-gradient(to right, rgba(45, 37, 37, 0.3), rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0) 98%, rgba(45, 37, 37, 0.3));

        .icon {
            width: 58px;
            border-bottom: none;
            border: 1px solid rgba(0, 0, 0, 0);
            height: calc(100% - 1px);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            position: relative;
            margin: -1px 1px 0;

            img {
                height: 78%;
            }

            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 3px;
            }

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                box-sizing: border-box;
                border-radius: 3px;
                border: 1px solid rgba(0, 0, 0, 0);
            }

            &:hover,
            &.active {
                border: 1px solid rgba(67, 77, 88, 0.8);

                &::before {
                    background: linear-gradient(163deg, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0) 45%);
                }

                &::after {
                    border: 1px solid rgba(230, 239, 249, 0.5);
                }
            }
        }
    }

    .small-icon {
        width: 253px;
        background: rgba(45, 37, 37, 0.3);
    }

    .date-time {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        width: 78px;
        color: white;
        background: rgba(45, 37, 37, 0.3);
        >p{
            display:flex;
            align-items: center;
            justify-content: center;
            height: 50%;
        }
    }

    .show-desktop {
        width: 11px;
        border-left: 1px solid #434D58;
        background: rgba(45, 37, 37, 0.3);

        i {
            display: block;
            border: 1px solid #CAD9EA;
            border-right: none;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }
    }
}