html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.container {
  width: 100vw;
  height: 100vh;
  min-width: 1024px;
  min-height: 768px;
  display: flex;
  flex-direction: column;
}
.container .toolbar {
  height: 40px;
  background: linear-gradient(to top, rgba(51, 117, 191, 0.45) 95%, #CAD9EA);
  border-top: 1px solid #434D58;
  display: flex;
  width: 1917px;
}
.container .toolbar .start {
  padding: 1px 9px;
  display: flex;
  align-items: center;
  background: rgba(45, 37, 37, 0.3);
}
.container .toolbar .start i {
  display: block;
  width: 36px;
  height: 36px;
  background: #3C6683;
  border-radius: 50%;
}
.container .toolbar .tool-list {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 0 4px;
  background: linear-gradient(to right, rgba(45, 37, 37, 0.3), rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0) 98%, rgba(45, 37, 37, 0.3));
}
.container .toolbar .tool-list .icon {
  margin: 0 1px;
  width: 58px;
  border: 1px solid #434D58;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}
.container .toolbar .tool-list .icon img {
  height: 78%;
}
.container .toolbar .small-icon {
  width: 253px;
  background: rgba(45, 37, 37, 0.3);
}
.container .toolbar .show-desktop {
  width: 11px;
  border-left: 1px solid #434D58;
  background: rgba(45, 37, 37, 0.3);
}
.container .toolbar .show-desktop i {
  display: block;
  border: 1px solid #CAD9EA;
  border-right: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
