<ng-container *ngIf="starting; else elseTemplate">
  <div class="start-anim">
    <div class="gif">
      <img src="assets/images/start.gif" />
      <h3>正在啟動 Windows</h3>
    </div>
    <p class="copyright">© Microsoft Corporation</p>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div class="container">
    <div class="desktop">
      <ng-container *ngFor="let item of proccessList">
        <ng-container *ngIf="item.component">
          <app-entry [app]="item" [isHidden]="item.isHidden" [zIndex]="item.zIndex"></app-entry>
        </ng-container>
      </ng-container>
    </div>
    <app-toolbar></app-toolbar>
  </div>
</ng-template>
