<app-windows minWidth="630"
             minHeight="450"
             [ngClass]="{'maxSize': isMax,'hide':isMin}"
             (toggleMax)="toggleMax()"
             (toggleMin)="toggleMin(false)"
             (toggleClose)="toggleClose()"
             [appInject]="this">
  <div class="url-bar">
    <app-arrow (click)="toLast()"></app-arrow>
    <app-arrow class="next"></app-arrow>
    <div *ngIf="!focusePath"
         class="url-show"
         (dblclick)="focusePath = true">
      <img [src]="currentFolder.icon">
      <div *ngFor="let path of getUrlList()"
           class="path">
        {{path}}
      </div>
    </div>
    <input *ngIf="focusePath"
           type="text"
           class="url-text"
           [(ngModel)]="pathInput"
           (keyup.enter)="searchPath()"
           (click)="stopPropagation($event)" />
  </div>
  <div class="content">
    <div class="map">
      <div class="block">
        <div class="list"
             (dblclick)="toggle(computer)"
             [ngClass]="{'active': currentFolder === computer}">
          <img [src]="computer.icon" />
          <p class="name">{{computer.name}}</p>
        </div>
        <ul>
          <li *ngFor="let directory of computer.directory"
              [ngClass]="{'active': currentFolder === directory}"
              (dblclick)="toggle(directory)"
              class="list">
            <img [src]="directory.icon" />
            <p class="name">{{directory.name}}</p>
          </li>
        </ul>
      </div>
    </div>
    <ng-container *ngIf="currentFolder.directory.length>0; else elseTemplate">
      <div class="app active"
           [ngClass]="{'active': active===folder}"
           (click)="active=folder"
           (dblclick)="toggle(folder)"
           *ngFor="let folder of currentFolder.directory">
        <img [src]="folder.icon" />
        <p class="name">{{folder.name}}</p>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="empty">
        這個資料夾是空的
      </div>
    </ng-template>
  </div>
</app-windows>
